<%- include header %>
  <body>
  <h1>LOGIN</h1>
  <form action="/do_login" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <label for="password">Password: </label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>

  <a href="/customer/register">Register</a>

  </body>
</html>